<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BUPicksList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <userSettings>
    <BUPicksList.Properties.Settings>
      <setting name="RoomList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>B72-Ping-Pong Room</string>
            <string>B81-FL2-Towers</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="BUList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>MDP</string>
            <string>AFP</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="BuildingList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>B81</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SizeList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Large (&gt; 35 lbs)</string>
            <string>Crate</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MissingLocation" serializeAs="String">
        <value>""</value>
      </setting>
    </BUPicksList.Properties.Settings>
  </userSettings>
</configuration>